@import "src/styles/sass/colours";

.container {
  width: 100%;
  position: relative;
}

.prepend {
  background-color: $dark-1;
  border-top: 1px solid $light-3;
  border-left: 1px solid $light-3;
  border-bottom: 1px solid $light-3;
  border-right: none;
}

.input, .input:active, .input:focus {
  background-color: $dark-1;
  border: 1px solid $light-3;
  box-shadow: none;
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  color: $light-1;
}

.input:focus {
  border-color: $light-3;
}

.input::placeholder {
  text-align: left;
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
}

.icon {
  color: $light-1;
}

.resultsWrapper {
  position: absolute;
  background-color: $dark-1;
  border: 2px solid $light-3;
  border-radius: 10px;
  min-height: 50px;
  width: 260px;
  padding: 10px;
}

.result {
  color: $light-1;
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  transition: all ease-in-out 0.2s;

  &:hover {
    cursor: pointer;
    color: $inspect;
  }
}
