@import "src/styles/sass/colours";

.body {
  position: relative;
  height: 100%;
}

.footer {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

.more {
  background-color: rgba($dark-1, 0.8);
  padding: 1px 10px;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}

.more:hover {
  cursor: pointer;
  background-color: $dark-1;
  color: #FFF;
}

.footer svg {
  font-size: 1.2rem;
}
