@import "src/styles/sass/colours";
@import "src/styles/sass/mixins";

.card {
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
}

.footer {
  padding-bottom: 0;
}

.practice {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.practice:hover {
  color: pink;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px !important;
}

.quantity {
  @include noSelect;
  text-align: center;
  margin: 0;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: $light-1;
  background-color: $dark-1;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.2s, color ease-in-out 0.2s;
}

.quantity:hover {
  background-color: rgba($dark-1, 0.5);
  cursor: pointer;
  color: #FFF;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.quantity:active {
  background-color: $dark-3;
}

.desc {
  text-transform: uppercase;
  margin: 10px;
}

.details {
  color: $dark-1;
  background-color: $light-2;
  padding: 5px 8px;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}

.details:hover {
  text-decoration: none;
  cursor: pointer;
  color: $dark-2;
  background-color: $light-1;
}

.red {
  border: 3px solid $bootstrap-red;
}

.orange {
  border: 3px solid $bootstrap-yellow;
}

.green {
  border: 3px solid $bootstrap-green;
}

.types {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 140px;
}

.type {
  background-color: rgba($dark-1, 0.6);
  width: 40px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}

.type:hover {
  background-color: rgba($dark-1, 0.9);
  cursor: pointer;
}
