@import "src/styles/sass/mixins";
@import "src/styles/sass/colours";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction:row;
}

.innerWrapper {
  max-width: 650px;
}

.cardWrapper, .buttonWrapper, .header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 650px;
}

.buttonWrapper {
  margin-top: 15px;
}

.remaining {
  display: block;
  color: #FFF;
  @include noSelect;
}

.next {
  margin-top: 20px;
  width: 100%;
  max-width: 650px;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  text-transform: uppercase;
  font-size: 1.6em;
  transition: ease-in-out 0.4s;
}

.progress {
  background-color: $dark-2;
  margin-bottom: 15px;
  height: 20px;
  width: 100%;
  max-width: 650px;
}