$dark-1: #2C2F31;
$dark-2: #232627;
$dark-3: #181A1B;

$light-1: #e3e3e3;
$light-2: #b3b3b3;
$light-3: #818181;

$hiragana-indicator: #3a97ff;
$katakana-indicator: #5dca41;
$diagraph-indicator: #fd813e;
$diacritical-indicator: #b750ec;

$kyoiku-grade-1: #4189ff;
$kyoiku-grade-2: #5dca41;
$kyoiku-grade-3: #f59037;
$kyoiku-grade-4: #8f46ea;
$kyoiku-grade-5: #d952d9;
$kyoiku-grade-6: #d73939;

$inspect: #ffb428;

$streak-gold: #ffc107;

$learn-colour: #4189ff;
$play-colour: #d73939;

$bootstrap-green: #28A745FF;
$bootstrap-red: #DC3545FF;
$bootstrap-yellow: #ffc107;
$bootstrap-info: #17a2b8;

$lives: #e73232;
$hints: #ffcd20;
$time: #ea8e2d;
