$dark-1: #2C2F31;
$dark-2: #232627;
$dark-3: #181A1B;

$light-1: #FFF;
$light-2: #b3b3b3;
$light-3: #818181;

$hiragana-indicator: #3a97ff;
$katakana-indicator: #5dca41;
$diagraph-indicator: #fd813e;
$diacritical-indicator: #b750ec;