@mixin noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin fitMobileViewportHeight {
  max-height: 100%;
  max-height: -webkit-fill-available; //Safari
  max-height: -moz-available; //Firefox
}

@mixin borderBoxSizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin evenNumericalSpacing {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}