@import "src/styles/sass/colours";

.toggle {
  background-color: $dark-1;
  border-color: $light-3;
  transition: all ease-in-out 0.2s;
  min-width: 222px;
}

.toggle:hover,
.toggle:active,
.toggle:focus,
.toggle:visited,
.toggle:disabled {
  background-color: $dark-2 !important;
  border-color: $light-2 !important;
  box-shadow: none !important;
}

.menu {
  padding: 0;
  background-color: $dark-2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-collapse: separate;
}

.option {
  background-color: $dark-1 !important;
  padding: 6px 12px;
  font-size: 0.8em;
  transition: all ease-in-out 0.2s;
  color: $light-1 !important;
}

.option:hover {
  background-color: $dark-2 !important;
  color: #fff !important;
}

.option.active {
  color: $inspect !important;
}
