@import "src/styles/sass/mixins";
@import "src/styles/sass/animations";

@mixin value {
  color: #FFF;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  @include noSelect;
}

@mixin diagraph {
  @include value;
  display: inline;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur {
  @include value;
  @include blur;
}

.value {
  @include value;
}

.red {
  @include flashRedAnimation;
}

.index {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  color: #a5a5a5;
  float: left;
  font-size: 0.9em;
}

.clickable {
  cursor: pointer;
}