.wrapper {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.brace {
  font-family: "Ciutadella Rounded Light", sans-serif;
  font-size: 4em;
  padding: 0 8px;
}

.pre, .post {
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
}

.comparison {
  font-family: "Ciutadella Rounded Light", sans-serif;
}

.meaning {
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  margin-left: 50px;
}
