@import "src/styles/sass/colours";

.wrapper {
  margin-left: 10px;
}

.en {
  font-family: "Ciutadella Rounded Light", sans-serif;
  color: $light-2;
}

.jp {
  color: #FFF;
  margin-bottom: 0;
}

.genkiOneUnderline {
  text-decoration: underline;
  text-decoration-color: $genki-1-light;
  text-underline-offset: 4px;
}

.genkiTwoUnderline {
  text-decoration: underline;
  text-decoration-color: $genki-2-light;
  text-underline-offset: 4px;
}
