@import "src/styles/sass/colours";

.genkiOneUnderline {
  text-decoration: underline;
  text-decoration-color: $genki-1-light;
  text-underline-offset: 4px;
}

.genkiTwoUnderline {
  text-decoration: underline;
  text-decoration-color: $genki-2-light;
  text-underline-offset: 4px;
}
