@import "src/styles/sass/colours";

.table {
  max-width: 1000px;
  color: $light-2;
}

.jp, .en {
  margin-bottom: 0;
  color: #FFF;
}

.genkiOneUnderline {
  text-decoration: underline;
  text-decoration-color: $genki-1-light;
  text-underline-offset: 4px;
}

.genkiTwoUnderline {
  text-decoration: underline;
  text-decoration-color: $genki-2-light;
  text-underline-offset: 4px;
}
