@import "src/styles/sass/mixins";
@import "src/styles/sass/animations";

$default-colour: #FFF;
$diagraph-margin: -10px;

@mixin kana {
  color: $default-colour;
  @include noSelect;
}

@mixin diagraph {
  @include kana;
  display: inline;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur {
  @include kana;
  @include blur;
}

.diagraphBlur {
  @include diagraph;
  @include blur;
}

.kana {
  @include kana;
}

.diagraphLeft {
  @include diagraph;
  margin-right: $diagraph-margin;
}

.diagraphRight {
  @include diagraph;
  margin-left: $diagraph-margin;
}

.redKana {
  @include flashRedAnimation;
}

.redDiagraph {
  @include flashRedAnimation;
  display: inline;
}

.index {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  color: #a5a5a5;
  float: left;
  font-size: 0.9em;
}

.clickable {
  cursor: pointer;
}