@import "src/styles/sass/colours";

.container {
  display: flex;
}

.title {
  color: $light-2;
  margin: 0;
}

.body {
  color: $light-1;
  margin: 0;
}

.dismiss {
  color: $light-3;
  font-size: 0.9em;
  transition: color ease-in-out 0.2s;
}

.dismiss:hover {
  color: $bootstrap-red;
  cursor: pointer;
}

.time {
  float: right;
  font-size: 0.7em;
}

.rightWrapper {
  width: 10px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}
