@import "src/styles/sass/viewports";
@import "src/styles/sass/mixins";

.wrapper {
  text-align: center;
}

.question {
  @include noSelect;
  color: #FFF;
  font-family: "Ciutadella Rounded Medium", sans-serif;
}

.blur {
  @include blur;
}

@include desktop {
  .display {
    height: 280px;
  }
}

@include tablet {
  .display {
    height: 200px;
  }
}

@include phone {
  .display {
    height: 180px;
  }
}
