@import "src/styles/sass/colours";

.wrapper {
  margin-left: 10px;
  margin-bottom: 10px;
}

.en {
  font-family: "Ciutadella Rounded Light", sans-serif;
  color: $light-2;
  margin-bottom: 0;
}

.compare {
  font-family: "Ciutadella Rounded Light", sans-serif;
  color: $light-3;
  font-size: 0.9em;
  margin-bottom: 0;
}

.jp {
  color: #FFF;
  margin-bottom: 0;
}

.furiganaDisplay {
  margin-bottom: 5px;
}

.incorrect {
  color: $bootstrap-red;
}

.incorrectUnderline {
  text-decoration-color: $bootstrap-red;
}