.title {
  font-size: 2em;
  margin-bottom: 0;
  text-align: center;
  color: #FFF;
}

.score {
  text-align: center;
  font-size: 1.5em;
  color: #FFF;
}

.wrapper {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  max-width: 1000px;
  padding: 0
}

.close {
  font-size: 2em;
}