.description {
  font-family: "Ciutadella Rounded", sans-serif;
  color: #eaeaea;
}

.descriptionWrapper {
  margin-bottom: 10px;
}


.quantityDescription {
  margin: 10px 0;
  font-family: "Ciutadella Rounded", sans-serif;
  color: #eaeaea;
}

.cardsIcon {
  padding: 5px;
  font-size: 3em;
  margin: 0;
  border-radius: 5px;
}