@import "src/styles/sass/colours";
@import "src/styles/sass/viewports";

@mixin expanderWrapper {
  max-width: 50px;
  padding-left: 0;
}

@mixin title {
  padding-right: 0;
}

@mixin page {
  margin-left: 3px;
  color: $light-2;
}

@mixin header {
  font-family: "Ciutadella Rounded", "Segoe UI", sans-serif;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 52px;
  background-color: $dark-1 !important;
  border-radius: 10px 10px 0 0;
  box-shadow: none !important;
  flex-grow: 1;
  margin: 0;

  &::after {
    display: none;
  }
}

@mixin body {
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  background-color: $dark-2;
  border-radius: 0 0 10px 10px;
  color: $light-1;
  margin: 0 10px;
}

@mixin container {
  background-color: $dark-3;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@include phone {
  .expanderWrapper {
    @include expanderWrapper;
    padding-right: 5px;
  }

  .title {
    color: $light-1;
    font-size: 1em;
    padding-left: 7px;
  }

  .container {
    @include container;
    padding: 0;
  }

  .page {
    @include page;
    font-size: 0.75em;
  }

  .header {
    @include header;
    margin-left: 0;
    margin-right: 0;
  }

  .body {
    @include body;
    padding: 8px 8px 10px 8px;
  }
}

@include tablet {
  .expanderWrapper {
    @include expanderWrapper;
  }

  .title {
    color: $light-1;
    font-size: 1.3em;
    padding-left: 10px;
  }

  .container {
    @include container;
    padding: 0 15px;
  }

  .page {
    @include page;
    font-size: 1em;
  }

  .header {
    @include header;
  }

  .body {
    @include body;
    padding: 20px 20px 10px 20px;
  }
}

@include desktop {
  .expanderWrapper {
    @include expanderWrapper;
  }

  .title {
    color: $light-1;
    font-size: 1.3em;
    padding-left: 10px;
  }

  .container {
    @include container;
  }

  .page {
    @include page;
    font-size: 1em;
  }

  .header {
    @include header;
  }

  .body {
    @include body;
    padding: 20px 20px 10px 20px;
  }
}

.header:hover {
  cursor: pointer;
}

.expander {
  color: $light-1;
  float: right;
  transition: ease-in-out all 0.2s;
}

.expander:hover {
  color: #fff;
}

.wrapper {
  color: $light-1;
  margin: 10px 0;
  background-color: $dark-1;
}

.chapter {
  max-width: 40px;
  display: flex;
  padding: 0;
}

.chapterNumber {
  margin-left: 2px;
}

.genki1 {
  background-color: $genki-1-light;
}

.genki2 {
  background-color: $genki-2-light;
}

.footer {
  border-top: 1px solid $dark-1;
  margin-top: 10px;
  padding-top: 10px;
}

.icon {
  font-size: 1.1rem;
  padding: 3px;
  border-radius: 5px;
  width: 40px;
  text-align: center;
  color: $dark-1;
  font-family: "Ciutadella Rounded Bold", "Segoe UI", sans-serif;
}
