@import "../../mixins";

@mixin card {
  border: #4189ff 5px solid;
  border-radius: 20px;
  padding: 10px;
  perspective: 1000px;
  background-color: #ffffff;
  min-height: 300px;
  width: 100%;
  max-width: 450px;
  cursor: pointer;
  @include noSelect;
}