@mixin card {
  border: #1aa7e2 3px solid;
  border-radius: 20px;
  padding: 10px;
  perspective: 1000px;
  background-color: #ffffff;
  //height: 300px;
  min-height: 300px;
  width: 100%;
  max-width: 450px;
  cursor: pointer;
}