@import "../../mixins";

@mixin card {
  border-radius: 20px;
  padding: 10px;
  perspective: 1000px;
  background-color: #ffffff;
  min-height: 315px;
  width: 100%;
  max-width: 450px;
  @include noSelect;
}