@import "src/styles/sass/colours";

@mixin button {
  color: $light-1 !important;
  width: 100%;
  height: 50px;
  font-size: 1.3em;
  border-radius: 8px;
  border-color: #1d1d1d;
  font-family: "Ciutadella Rounded Bold", "Segoe UI", sans-serif;
  opacity: 0.5;
  transition: all ease-in-out 0.2s;
}

.button,
.button:active {
  @include button;
}

.button:hover {
  opacity: 0.9;
  border-color: #1d1d1d;
  color: #000;
}

.disabled {
  @include button;
}

.selected {
  color: $dark-2 !important;
  opacity: 1;
}
