@import "flash-cards";
@import "../../colours";

@mixin wrapper {
  @include card;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wrapper-grade-1 {
  @include wrapper;
  border-color: $kyoiku-grade-1;
}

.wrapper-grade-2 {
  @include wrapper;
  border-color: $kyoiku-grade-2;
}

.wrapper-grade-3 {
  @include wrapper;
  border-color: $kyoiku-grade-3;
}

.wrapper-grade-4 {
  @include wrapper;
  border-color: $kyoiku-grade-4;
}

.wrapper-grade-5 {
  @include wrapper;
  border-color: $kyoiku-grade-5;
}

.wrapper-grade-6 {
  @include wrapper;
  border-color: $kyoiku-grade-6;
}