@import "src/styles/sass/mixins";
@import "src/styles/sass/colours";
@import "src/styles/sass/viewports";

@include phone {
  .buttonColumnRight {
    padding-left: 5px !important;
  }

  .buttonColumnLeft {
    padding-right: 5px !important;
  }

  .innerWrapper {
    max-width: 450px;
  }

  .next {
    margin-top: 12px;
    height: 40px;
    padding: 5px;
    font-size: 1.3em;
  }

  .showRomaji {
    width: 110px !important;
    font-size: 0.8em;
  }

  .rememberedButton,
  .forgottenButton {
    height: 45px;
    padding: 5px;
  }

  .col {
    padding: 0 2px;
  }

  .buttonWrapper {
    margin-top: 10px;
  }

  .progress {
    height: 20px;
  }
}

@include tablet {
  .innerWrapper {
    max-width: 550px;
  }

  .next {
    font-size: 1.5em;
    margin-top: 20px;
  }

  .buttonWrapper {
    margin-top: 15px;
  }

  .progress {
    height: 30px;
  }
}

@include desktop {
  .innerWrapper {
    max-width: 650px;
  }

  .next {
    font-size: 1.6em;
    margin-top: 20px;
  }

  .buttonWrapper {
    margin-top: 15px;
  }

  .buttonColumnRight {
    padding-left: 8px !important;
  }

  .buttonColumnLeft {
    padding-right: 8px !important;
  }

  .progress {
    height: 30px;
  }
}

.next {
  width: 100%;
  max-width: 650px;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  text-transform: uppercase;
  transition: ease-in-out 0.4s;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.cardWrapper,
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 650px;
  margin-bottom: 15px;
}

.remaining {
  @include noSelect;
  display: block;
  color: #fff;
}

.progress {
  background-color: $dark-2;
  width: 100%;
  max-width: 650px;
}

.quit {
  font-size: 2.4em;
}

.showRomaji {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  text-transform: uppercase;
  float: right;
  width: 120px;
}

.counter {
  @include evenNumericalSpacing;
  color: #fff;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.7em;
}

.remembered,
.forgotten {
  @include evenNumericalSpacing;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 2em;
}

.remembered {
  color: $bootstrap-green;
}

.forgotten {
  color: $bootstrap-red;
}

.rememberedIcon,
.forgottenIcon {
  font-size: 1.5em;
  margin: 0 3px;
}

.rememberedIcon {
  color: $bootstrap-green;
}

.forgottenIcon {
  color: $bootstrap-red;
}
