@import "../../mixins";

.wrapper {

}

.cardWrapper, .buttonWrapper, .header {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.remaining {
  display: block;
  color: #FFF;
  @include noSelect;
}

.next {
  margin-top: 20px;
  width: 100%;
  max-width: 450px;
}