@import "../../mixins";
@import "../../colours";

.cardWrapper, .buttonWrapper, .header {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.remaining {
  display: block;
  color: #FFF;
  @include noSelect;
}

.next {
  margin-top: 20px;
  width: 100%;
  max-width: 450px;
}

.progress {
  background-color: $dark-2;
  margin-bottom: 15px;
  height: 10px;
  width: 100%;
  max-width: 450px;
}