@import "src/styles/sass/components/menus";
@import "src/styles/sass/viewports";

@include MenuLayout;

@mixin search {
  width: 100%;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.5em;
  padding: 10px 0;
  text-transform: uppercase;
}

@include phone {
  .search, .settings {
    @include search;
    font-size: 1.2em;
    padding: 5px 0;
  }
}

@include tablet {
  .search, .settings {
    @include search;
    font-size: 1.3em;
    padding: 8px 0;
  }
}

@include desktop {
  .search, .settings {
    @include search;
    font-size: 1.5em;
    padding: 10px 0;
  }
}

.wrapper {
  height: 100%;
}

.spin {
  animation-duration: 6s;
}