@import "src/styles/sass/colours";

.dropdown {
  width: 100%;
  margin-bottom: 12px;
}

.dropdownMenu {
  width: 100%;
}

.dropdownToggle {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.4em;
  width: 100%;
}

.menu {
  height: 100%;
}

.learn {
  color: $learn-colour;
}

.play {
  color: $play-colour;
}

.icon {
  vertical-align: middle;
  margin-bottom: 6px;
}
