@import "src/styles/sass/components/cards";

.info {
  color: $dark-1;
  margin-left: 8px;
  margin-top: 3px;
  float: right;
  transition: all ease-in-out 0.2s;
}

.alert {
  padding: 8px 15px;
  width: 100%;
  margin-bottom: 8px;
}

.password {
  margin: 15px 0;
  text-align: center;
}

.confirm {
  width: 100%;
  transition: all ease-in-out 0.5s;
}

.dismiss {
  width: 100%;
}

.changed {
  width: 100%;
}
