@import "src/styles/sass/colours";

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.button {
  padding: 6px 6px;
  width: 100%;
  transition: all ease-in-out 0.2s;
}

.icon {
  margin-right: 3px;
}

.input::placeholder {
  text-align: left;
}

.iconPickerContainer {
  max-width: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.iconPicker {
  width: 100%;
  height: 38px;
}
