@import "src/styles/sass/colours";
@import "src/styles/sass/buttons";

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.button {
  padding: 6px 6px;
  width: 100%;
  max-width: 100px;
  margin-bottom: 10px;
  transition: all ease-in-out 0.2s;
}

.icon {
  margin-right: 3px;
}

.inputWrapper {
  position: relative;
  padding: 5px;
  border: 1px dashed transparent;
  width: 100%;
  transition: all ease-in-out 0.2s;
  border-radius: 5px;
}

.inputWrapper:hover {
  border: 1px dashed $inspect;
  cursor: context-menu;
}

.input, .input:active, .input:focus {
  background-color: $dark-1 !important;
  box-shadow: none;
  text-align: center;
  caret-color: $inspect;
  color: $light-1;
  font-size: 1.1em;
  border: 1px dashed $light-3;
  border-radius: 5px;
}

.iconPickerContainer {
  max-width: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.iconPicker {
  width: 100%;
  font-size: 2em;
}

.iconSurface {
  border: 1px dashed transparent;
  padding: 5px 15px;
  transition: all ease-in-out 0.2s;
  border-radius: 10px;
}

.iconSurface:hover {
  border: 1px dashed $inspect;
  cursor: context-menu;
}

.preview {
  @include noSelect;
  padding: 15px;
  height: 120px;
  width: 200px;
  display: flex;
  color: $light-1;
  position: relative;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  transition: all ease-in-out 0.3s;
  background-color: rgba($dark-1, 0.9);
}

.previewIcon {
  @include favourite-button-icon;
}

.name {
  font-size: 1.1em;
}
