@import "src/styles/sass/colours";

.icon {
  color: $light-2;
  transition: all ease-in-out 0.2s;
}

.icon:hover {
  color: $light-1;
  cursor: pointer;
}

.wrapper {
}

.popover > div::after {
  border-top-color: $dark-1 !important;
  border-bottom-color: $dark-1 !important;
}

.popover > div::before {
  border-bottom-color: $dark-1 !important;
}

.popover {
  animation: fade 0.05s ease-in forwards;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.1em;
  background-color: $dark-2;
  border: 2px solid $dark-1;
  border-radius: 12px;
  padding: 0;
}

.content {
  padding: 0;
}

.link {
  padding: 2px 10px !important;
}

.link:first-child {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.link:last-child {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.link span {
  font-size: 0.9em !important;
}

.link svg {
  font-size: 0.9rem;
  margin-right: 5px;
}
