@import "src/styles/sass/colours";

.blur {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba($dark-2, 0.5);
  filter: blur(5px);
}

.content {
  color: $light-1;
  padding: 15px;
}
