@import "src/styles/sass/colours";

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 20px;
}

.error {
  color: $light-1;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.2em;
}
