@import "src/styles/sass/colours";

.highlight {
  transition: all ease-in-out 0.2s;
}

.highlight:hover {
  cursor: pointer;
  opacity: 0.8;
}

.lives {
  color: $lives;
}

.time {
  color: $time;
}

.hint {
  color: $hints;
}

.score {
  color: #debc52;
}

.field {
  color: $kyoiku-grade-5;
}

.question {
  font-size: 1.2em;
}

.quantity {
  color: $bootstrap-yellow;
}

.type {
  color: $bootstrap-green;
}

.topic {
  color: $topic;
}
