@import "src/styles/sass/colours";

.close {
  float: right;
  color: $light-2;
  transition: color ease-in-out 0.2s;
}

.close:hover {
  cursor: pointer;
  color: $light-1;
}

.header {
  padding-bottom: 10px;
}

.stage {
  margin-left: 5px;
  font-size: 1.3em;
}

.content {
  padding: 10px 15px;
  color: $light-1;
  background-color: $dark-2;
  border-radius: 10px;
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
}

.body {
  padding: 15px 0;
}
