@import "src/styles/sass/colours";

.close {
  margin-left: auto;
  color: $light-2;
  font-size: 1.2em;
  transition: color ease-in-out 0.2s;
}

.close:hover {
  cursor: pointer;
  color: $light-1;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.stage {
  margin-left: 8px;
  font-size: 1.5em;
}

.content {
  color: $light-1;
  background-color: $dark-2;
  border-radius: 10px;
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  padding: 10px 15px 10px 15px;
}

.dialog {
  max-width: 650px;
}

.body {

}

@mixin icon {
  font-size: 1.8em;
}

.topicIcon {
  @include icon;
  color: $topic;
}

.typeIcon {
  @include icon;
  color: $light-2;
}

.presetIcon {
  @include icon;
  color: $bootstrap-yellow;
}

.questionIcon {
  @include icon;
  color: #FFF;
}

.livesIcon {
  @include icon;
  color: $lives;
}

.hintsIcon {
  @include icon;
  margin-bottom: 2px;
  color: $hints;
}

.timeIcon {
  @include icon;
  margin-bottom: 3px;
  color: $time;
}

.dataIcon {
  @include icon;
  color: #ac4ad0;
}

.confirmIcon {
  @include icon;
  color: $bootstrap-green;
  margin-bottom: 2px;
}
