@import "src/styles/sass/colours";

.icon {
  font-size: 3em;
  position: absolute;
}

.numberQuantity {
  bottom: 0;
  left: 0;
  font-size: 3em;
  position: absolute;
  text-shadow: -3px 0 $dark-1, 0 3px $dark-1, 3px 0 $dark-1, 0 -3px $dark-1;
}

.stringQuantity {
  line-height: 48px;
  font-size: 1.8em;
  position: absolute;
  text-shadow: -2px 0 $dark-1, 0 2px $dark-1, 2px 0 $dark-1, 0 -2px $dark-1;
}

.wrapper {
  position: relative;
  width: 60px;
  height: 48px;
}
