@import "src/styles/sass/colours";

.step {
  transition: all ease-in-out 0.3s;
}

.step:hover {
  cursor: pointer;
  opacity: 0.8;
}

.complete {
  color: $bootstrap-green;
}

.complete-0 {
  color: $topic;
}

.complete-1 {
  color: gray;
}

.complete-2 {
  color: $bootstrap-yellow;
}

.complete-3 {
  color: #FFF;
}

.complete-4 {
  color: $hints;
}

.complete-5 {
  color: $lives;
}

.complete-6 {
  color: $time;
}

.complete-7 {
  color: $kyoiku-grade-5;
}

.complete-8 {
  color: $bootstrap-green;
}

.inProgress {
  color: $light-1;
}

.incomplete {
  color: $bootstrap-red;
}
