@import "src/styles/sass/colours";
@import "src/styles/sass/mixins";

.card {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  border-radius: 20px;
  height: 380px;
  width: 380px;
  border-width: 4px;
  background-color: #f5f5f5 !important;
}

.heading {
  @include noSelect;
  font-family: "Ciutadella Rounded Bold", "Segoe UI", sans-serif;
}

.label {
  margin: 0;
  color: #5e5e5e;
  font-size: 1.1em;
}

.value {
  font-size: 1.3em;
}

.icon {
  float: right;
}

.disabledIcon {
  opacity: 0.6;
  float: right;
}

.icon:hover {
  cursor: pointer;
}

.spinner {
  color: $bootstrap-info;
}

.save {
  color: $bootstrap-green;
}

.save:hover {
  cursor: pointer;
}

.error {
  color: $bootstrap-red;
}
