@import "src/styles/sass/colours";

.heading {
  margin-bottom: 0;
}

.text {
  color: $light-2;
  font-family: "Ciutadella Rounded", "Segoe UI", sans-serif;
}

.section:not(:last-child) {
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  width: 100%;
  div:not(:last-child) {
    margin-right: 10px;
  }
}

.rule {
  border-color: $dark-1;
}
