@import "src/styles/sass/colours";

.title {
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  font-size: 1.3em;
  color: $light-1;
  margin-bottom: 0;
}

.description {
  font-family: "Ciutadella Rounded", "Segoe UI", sans-serif;
  color: $light-2;
}

.rule {
  border-color: $dark-1;
}

.heading {
  margin-bottom: 0;
}

.text {
  color: $light-2;
  font-family: "Ciutadella Rounded", "Segoe UI", sans-serif;
}
