.heading {
  font-size: 1.5em;
  color: #FFF;
  text-align: center;
}

.label {
  color: #dedede;
}

.check label {
  color: white;
}

.confirm {
  margin-top: 10px;
}

.rule {
  background-color: white;
  margin-left: 0;
}

.livesIcon {
  color: #fa2323;
}

.tipsIcon {
  color: #ffcd20;
}

.kanaIcon {
  color: #1785e2;
  font-size: 1.1em;
}