.submit {
  width: 100%;
}

.input {
  text-align: center;
  width: 100%;
}

.wrapper {
  max-width: 400px;
}

.timer {
  float: right;
}

.close:hover {
  color: #f33333;
  transition: ease 0.5s;
  cursor: pointer;
}

.progress {
  margin-bottom: 15px;
  height: 8px;
}