.wrapper {
  text-align: center;
}

$default-colour: #FFF;

@mixin kana {
  color: $default-colour;
  font-size: 10em;
}

.blur {
  @include kana;
  color: transparent;
  text-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.kana {
  @include kana;
}

.notifyIncorrect {
  $notify-animation-time: 0.75s;
  font-size: 10em;
  animation: flashRed ease $notify-animation-time;
  -webkit-animation: flashRed ease $notify-animation-time;
  -moz-animation: flashRed ease $notify-animation-time;
  animation-fill-mode: forwards;
}

@keyframes flashRed {
  0% {
    color: $default-colour;
  }
  50% {
    color: red;
  }
  100% {
    color: $default-colour;
  }
}
