@import "../colours";

.submit {
  width: 100%;
}

.inputCol {
  padding-right: 5px;
}

.wrapper {
  max-width: 400px;
}

.timer {
  float: right;
  color: #FFF;
}

.close {
  color: #FFF;
}

.close:hover {
  color: #f33333;
  transition: ease 0.5s;
  cursor: pointer;
}

.progress {
  background-color: $dark-2;
  margin-bottom: 15px;
  height: 8px;
}

.tip {

}

.tipCol {
  padding-left: 5px;
}

.lifeDisplayContainer {
  text-align: center;
}