@import "src/styles/sass/components/settings";
@import "src/styles/sass/colours";

.button {
  position: relative;

  .updating {
    position: absolute;
    right: 0;
    margin: 12px;
    transition: color ease-in-out 0.2s;
  }
}

.name, .icon {
  transition: color ease-in-out 0.2s;
}

.truthy:hover {
  .name, .icon {
    color: #45d540;
  }
}

.falsy:hover {
  .name, .icon {
    color: #fb3a3a;
  }
}
