.wrapper {
}

.iconWrapper {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 8em;
}

.name {
  text-align: center;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 3em;
  margin-top: 10px;
}
