@import "src/styles/sass/components/cards";

.edit {
  color: $dark-3;
  transition: all ease-in-out 0.2s;
}

.edit {
  color: $dark-1;
  cursor: pointer;
}

.errorContainer {
  margin-top: 3px;
  font-size: 1.1em;
  text-overflow: ellipsis;
}
