@import "src/styles/sass/components/cards";

.dropdown button {
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  float: right;
}

.dropdown button:hover {
  background-color: transparent;
}

.row:first-child {
  margin-top: 10px;
}

.row {
  margin-bottom: 5px;
}
