@import "src/styles/sass/components/cards";

.dropdown button {
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  float: right;
}

.dropdown button:hover {
  background-color: transparent;
}
