@import "src/styles/sass/flashcards";

.meaning {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 4em;
  line-height: 1.1em;
  margin: 0;
}

.or {
  font-family: "Ciutadella Rounded", sans-serif;
  font-size: 2.5em;
  margin: 0;
}

.innerWrapper {
  text-align: center;
}