@import "src/styles/sass/components/learn/flash-cards";
@import "src/styles/sass/colours";
@import "src/styles/sass/viewports";

@mixin grade {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  flex: 0 0 auto;
}

@mixin example {
  font-family: "Ciutadella Rounded", sans-serif;
  margin: 0;
}

@mixin text {
  color: #000000;
  font-family: "Ciutadella Rounded", sans-serif;
  align-self: stretch;
}

@include phone {
  .wrapper {
    @include wrapperPhone;
  }

  .grade {
    @include grade;
    font-size: 1.2em;
  }

  .example {
    @include example;
    font-size: 1em;
  }

  .display {
    font-size: 5em;
  }

  .text {
    @include text;
    font-size: 1.2em;
  }
}

@include tablet {
  .wrapper {
    @include wrapperTablet;
  }

  .grade {
    @include grade;
    font-size: 1.3em;
  }

  .example {
    @include example;
    font-size: 1.2em;
  }

  .display {
    font-size: 8em;
  }

  .text {
    @include text;
    font-size: 1.4em;
  }
}

@include desktop {
  .wrapper {
    @include wrapperDesktop
  }

  .grade {
    @include grade;
    font-size: 1.5em;
  }

  .example {
    @include example;
    font-size: 1.4em;
  }

  .display {
    font-size: 10em;
  }

  .text {
    @include text;
    font-size: 1.6em;
  }
}

.wrapper-grade-1 {
  border-color: $kyoiku-grade-1;
}

.wrapper-grade-2 {
  border-color: $kyoiku-grade-2;
}

.wrapper-grade-3 {
  border-color: $kyoiku-grade-3;
}

.wrapper-grade-4 {
  border-color: $kyoiku-grade-4;
}

.wrapper-grade-5 {
  border-color: $kyoiku-grade-5;
}

.wrapper-grade-6 {
  border-color: $kyoiku-grade-6;
}

.label {
  font-family: "Ciutadella Rounded Medium", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 25px;
  padding: 0 20px;
  align-self: stretch;
  flex: 1 0 100%
}

.body {
  display: flex;
  align-items: center;
  flex: 1 0 100%;
  height: 100%;
}

.back {
  border-radius: 50%;
  border-width: 2px;
  height: 45px;
  width: 45px;
}

.meaningWrapper {
  margin-left: 24px;
}

.highlight {
  color: $inspect;
}