@import "src/styles/sass/components/learn/flash-cards";
@import "src/styles/sass/colours";
@import "src/styles/sass/viewports";

@mixin wrapper {
  @include card;
  display: flex;
  flex-wrap: wrap;
}

.wrapper-grade-1 {
  @include wrapper;
  border-color: $kyoiku-grade-1;
}

.wrapper-grade-2 {
  @include wrapper;
  border-color: $kyoiku-grade-2;
}

.wrapper-grade-3 {
  @include wrapper;
  border-color: $kyoiku-grade-3;
}

.wrapper-grade-4 {
  @include wrapper;
  border-color: $kyoiku-grade-4;
}

.wrapper-grade-5 {
  @include wrapper;
  border-color: $kyoiku-grade-5;
}

.wrapper-grade-6 {
  @include wrapper;
  border-color: $kyoiku-grade-6;
}

.text {
  color: #000000;
  align-self: stretch;
  margin: 5px 0;
  font-size: 1.1em;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 25px;
  padding: 0 20px;
  align-self: stretch;
  flex: 1 0 100%
}

.grade {
  flex: 0 0 auto;
}

.body {
  display: flex;
  align-items: center;
  flex: 1 0 100%;
  height: 100%;
}

.back {
  border-radius: 50%;
}

.example {
  margin: 0;
}

.source, .source:active, .source:hover {
  text-decoration: none;
}

@include phone {
  .display {
    font-size: 6em;
  }
}

@include tablet {
  .display {
    font-size: 8em;
  }
}

@include desktop {
  .display {
    font-size: 8em;
  }
}