@import "src/styles/sass/mixins";
@import "src/styles/sass/colours";

.cardWrapper,
.buttonWrapper,
.header {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.remaining {
  display: block;
  color: #fff;
  @include noSelect;
}

.next {
  margin-top: 20px;
  width: 100%;
  max-width: 650px;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.6em;
}

.progress {
  background-color: $dark-2;
  margin-bottom: 15px;
  height: 10px;
  width: 100%;
  max-width: 650px;
}
