.wrapper {
  min-width: 100%;
  height: 100vh;
  min-height: 100%;
  padding: 100px 25px;
  position: fixed;
  pointer-events: none;
  z-index: 1000;
}

.toast {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  z-index: 1000;
  max-height: 100px;
  max-width: 325px;
  pointer-events: all;
}

.header {
  padding: 5px 7px;
}

.body {
  padding-top: 6px;
  font-size: 1.1em;
}

.title {
  margin-right: auto;
  font-size: 1.1em;
  margin-left: 3px;
  margin-top: 2px;
}

.header .close {
  font-size: 1.3em !important;
}

.icon {
  color: #9f3333;
}

.controllerIcon {
  color: #312e2e;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper span {
  font-size: 1.4em;
}

.reset {
  color: #cd3a3a;
  transition: all ease-in-out 0.3s;
}

.reset:hover {
  color: #a03636;
  cursor: pointer;
}

.clearAll {
  transition: all ease-in-out 0.3s;
}

.clearAll:hover {
  color: #575555;
  cursor: pointer;
}

.controllerBody {
  padding: 10px;
}
