@import "src/styles/sass/colours";
@import "src/styles/sass/animations";

.container {
  background-color: $dark-2;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 15px 25px, rgba(0, 0, 0, 0.05) 0 5px 10px;
  margin-bottom: 25px;
  padding: 10px;
}

.containerError {
  border: 1px solid $bootstrap-red;
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  color: $light-1;
  margin-bottom: 3px;
}

.header {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid $dark-1;
}

.error {
  color: $light-1;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.2em;
}

.reload {
  margin-left: auto;
  color: $light-2;
  transition: all ease-in-out 0.2s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.reload:hover {
  cursor: pointer;
  color: $light-1;
  animation-name: spin-clockwise;
  animation-timing-function: ease-in-out;
}

.loading {
  padding: 15px 10px;
}

.shimmer {
  -webkit-animation-duration: 1.1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
  -webkit-animation-timing-function: linear;
  background: #46484e linear-gradient(to right, #46484e 0%, #55585f 20%, #46484e 40%, #46484e 100%) no-repeat;
  background-size: 800px 104px;
  height: 104px;
  position: relative;
}

.shimmer div {
  background: $dark-2;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0;
}

div._2iwr {
  height: 40px;
  left: 40px;
  right: auto;
  top: 0;
  width: 8px;
}

div._2iws {
  height: 8px;
  left: 48px;
  top: 0
}

div._2iwt {
  left: 136px;
  top: 8px
}

div._2iwu {
  height: 12px;
  left: 48px;
  top: 14px
}

div._2iwv {
  left: 100px;
  top: 26px
}

div._2iww {
  height: 10px;
  left: 48px;
  top: 32px
}

div._2iwx {
  height: 20px;
  top: 40px
}

div._2iwy {
  left: 410px;
  top: 60px
}

div._2iwz {
  height: 13px;
  top: 66px
}

div._2iw- {
  left: 440px;
  top: 79px
}

div._2iw_ {
  height: 13px;
  top: 85px
}

div._2ix0 {
  left: 178px;
  top: 98px
}

@keyframes shimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}
