@import "../../animations";

.wrapper {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  @include fadeIn(0.2s);
}

.gameMenuWrapper {
  display: flex;
  justify-content: center;
}

.innerWrapper {
  height: 100%;
  width: 100%;
}