.wrapper {
  //border: 3px solid red;
  max-width: 1400px;
  min-height: 600px;
  padding: 50px;
/*  $shadow-colour: rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 1px 2px 3px $shadow-colour;
  -webkit-box-shadow: 1px 2px 3px $shadow-colour;
  box-shadow: 1px 2px 3px 4px $shadow-colour;*/
}

.menu {
  opacity: 0;
  animation: fadeIn 0.2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}