.text {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.5em;
  margin-left: 10px;
}

.icon {
  font-size: 1.5em;
}

.item {
  padding: 20px;
}

.heading {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  background-color: #f1f1f1;
  color: #000;
  margin-bottom: 12px;
}