@import "src/styles/sass/colours";

.logo {
  height: 34px;
}

.navbar {
  background-color: $dark-1;
}

.brand {
  color: #FFF !important;
}

.search {
  color: rgb(207, 207, 207);
  font-size: 1.5em;
  transition: 1s ease;
}

.search:hover {
  transition: 1s ease;
  color: #FFF
}

.search:active {
  color: $hiragana-indicator;
}