@import "src/styles/sass/colours";

.logo {
  height: 34px;
}

.navbar {
}

.nav {
  width: 100%;
}

.brand {
  color: #FFF !important;
}

.link {
  color: rgb(207, 207, 207);
  transition: 1s ease;
}

.link:hover {
  transition: 1s ease;
  color: #FFF
}

.link:active {
  color: $hiragana-indicator;
}