@import "../../colours";

@mixin typeIcon {
  float: right;
}

.hiragana {
  @include typeIcon;
  color: $hiragana-indicator;
}

.katakana {
  @include typeIcon;
  color: $katakana-indicator;
}

.diagraph {
  @include typeIcon;
  color: $diagraph-indicator;
}

.diacritical {
  @include typeIcon;
  color: $diacritical-indicator;
}

.typeWrapper {
}

.kana {
  color: #1d1d1d;
  font-size: 2.5em;
  line-height: 45px;
  margin: auto;
}

.wrapper {
  padding: 5px;
  border: 2px solid #737373;
  border-radius: 10px;
  background-color: #e5e5e5;
  width: 90px;
  height: 90px;
}

.kanaWrapper {
  text-align: center;
  width: 100%;
  padding: 0;
  line-height: 48px;
  height: 42px;
}

.romanji {
  color: #505456;
  font-weight: 600;
  display: block;
  text-align: center;
  margin-bottom: 0;
}