@import "src/styles/sass/mixins";

@mixin wrapper {
  @include fitMobileViewportHeight;
  @include borderBoxSizing;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
}

.switch {
  width: 100%;
  padding: 0;
}

.wrapper {
  @include wrapper;
  //margin-top: -56px;
}

.wrapperFullScreen {
  @include wrapper;
}