@import "../../colours";

.wrapper {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.searchWrapper {
  margin: 15px;
  width: 100%;
  max-width: 1920px;
}

.search {
  width: 100%;
  max-width: 700px;
}

.label {
  color: #FFF;
  display: block;
}

@mixin switch {
  width: 2rem;
  height: 2.5rem;
  display: block;
}

.switchWrapper {
  display: flex;
  justify-content: center;
}

.hiraganaSwitch {
  @include switch;
}

.hiraganaSwitch label::before {
  background-color: $hiragana-indicator !important;
  border-color: $hiragana-indicator !important;
}

.hiraganaSwitch label::after {
  background-color: #cfcfcf !important;
}

.katakanaSwitch {
  @include switch;
}

.katakanaSwitch label::before {
  background-color: $katakana-indicator !important;
  border-color: $katakana-indicator !important;
}

.diagraphSwitch {
  @include switch;
}

.diagraphSwitch label::before {
  background-color: $diagraph-indicator !important;
  border-color: $diagraph-indicator !important;
}

.diacriticalSwitch {
  @include switch;
}

.diacriticalSwitch label::before {
  background-color: $diacritical-indicator !important;
  border-color: $diacritical-indicator !important;
}