@import "src/styles/sass/animations";
@import "src/styles/sass/viewports";

.wrapper {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  height: 100%;
  justify-content: center;
}

.topicMenu {
  @include fadeIn(0.2s);
  width: 100%;
}

.gameMenuWrapper {
  display: flex;
  justify-content: center;
  padding: 0;
}

@include phone {
  .topicSelectionMenuWrapper {
    padding: 0;
  }
}

@include tablet {
  .topicSelectionMenuWrapper {
    display: flex;
    justify-content: center;
    max-width: 768px;
    padding: 0;
  }
}

.innerWrapper {
  max-width: 1000px;
  box-sizing: border-box;
}
