.wrapper {
  margin: 0;
  padding: 128px 50px 50px 50px;
  min-width: 100%;
  max-height: -webkit-fill-available; //Safari
  max-height: -moz-available; //Firefox
  position: fixed;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}