@import "src/styles/sass/colours";

.wrapper {
  padding: 0 0 50px 0;
}

.verbConjugationTable {
  max-width: 500px;
}

.search {
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  position: relative;
  flex: 1 1 auto;
  padding: 6px 12px;
}

.search {
}

.search input, .search input:focus {
  height: 40px;
  font-size: 1.2em;
  background-color: transparent;
  box-shadow: none;
  border-color: #FFF !important;
  color: #FFF;
}

.search div {
  background-color: transparent;
}

.input::placeholder {
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  color: #6c757d;
  opacity: 1;
}

.chapterSelector {
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  padding: 8px;
  border: 1px solid $light-1;
  border-radius: 5px;
  margin-right: 10px;
  float: right;
}

.chapterSelectorItem {
  width: 90px;
}

.chapterSelectorWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.genkiTwo {
  color: $genki-2-light !important;
}

.hr {
  border-color: $dark-1;
}

.backToTop {
  background-color: $dark-2;
  border-radius: 10px;
  width: 100%;
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  padding: 10px 0;
  font-size: 1.2em;
  text-transform: uppercase;
}

.muted {
  color: $light-2;
}

.arrow {
  margin: 0 5px;
}

.rowSection {
  border-bottom: 1px solid $dark-1;
}
