@import "src/styles/sass/colours";

.wrapper {
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  max-width: 1500px;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.table {
  width: 100%;
  border-spacing: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.table th {
  background-color: $dark-1;
  border: 2px solid $light-3;
  color: $light-1;
}

.table tbody tr td {
  margin-bottom: 5px;
}

.table th:first-of-type {
  border-top-left-radius: 6px;
}

.table th:last-of-type {
  border-top-right-radius: 6px;
}

.table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 6px;
}

.table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 6px;
}

.table tbody tr td, .table thead tr th {
  padding: 10px;
}

.genkiOne {
  color: $dark-2;
  background-color: $genki-1-light;
  border: 2px solid $genki-1-dark;
  transition: all ease-in-out 0.2s;
}

.genkiOne:hover {
  background-color: #de985d;
}

.genkiTwo {
  color: $dark-2;
  background-color: $genki-2-light;
  border: 2px solid $genki-2-dark;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}

.genkiTwo:hover {
  background-color: #77b676;
}

.search {
  min-width: 100%;
  padding-bottom: 15px;
}

.spinner {
  margin-right: 10px;
}

.banner {
  transition: all ease-in-out 0.2s;
}

.sort {
  float: right;
}
