@import "src/styles/sass/colours";
@import "src/styles/sass/mixins";

.wrapper {
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  max-width: 1500px;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.table th {
  background-color: $dark-1;
  border-right: 2px solid $light-3;
  border-bottom: 2px solid $light-3;
  border-top: 2px solid $light-3;
  color: $light-1;
  transition: color ease-in-out 0.2s;
}

.table th:hover {
  color: #FFF;
}

.table th:first-child {
  border-left: 2px solid $light-3;
}

.table th:first-of-type {
  border-top-left-radius: 10px;
}

.table th:last-of-type {
  border-top-right-radius: 10px;
}

.table tr:last-of-type td:first-of-type {
  border-bottom-right-radius: 10px;
}

.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.table tbody tr td, .table thead tr th {
  padding: 12px;
}

.genkiOne {
  color: $dark-2;
  background-color: $genki-1-light;
  border: 2px solid $genki-1-dark;
  transition: all ease-in-out 0.2s;
}

.genkiOne:hover {
  background-color: #de985d;
}

.genkiTwo {
  color: $dark-2;
  background-color: $genki-2-light;
  border: 2px solid $genki-2-dark;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}

.genkiTwo:hover {
  background-color: #77b676;
}

.search {
  min-width: 100%;
  padding-bottom: 20px;
}

.spinner {
  margin-right: 10px;
}

.banner {
  transition: all ease-in-out 0.2s;
}

.sort {
  float: right;
}

.noResults {
  @include noSelect;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border-left: 2px solid $light-3;
  border-right: 2px solid $light-3;
  border-bottom: 2px solid $light-3;
  padding: 15px;
  min-width: 100%;
  color: $light-1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 150px;
  background-color: $dark-2;
}

.icon {
  margin-right: 5px;
}
