@import "src/styles/sass/colours";

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.heading {
  display: block;
  width: 100%;
  text-align: left;

  .title {

  }
}

.footer * {
  font-family: "Ciutadella Rounded Bold", "Segoe UI", sans-serif;
  color: $light-1;
}
