@import "src/styles/sass/viewports";
@import "src/styles/sass/mixins";

@mixin wrapper {
  @include fitMobileViewportHeight;
  @include borderBoxSizing;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.innerWrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

@include desktop {
  .wrapper {
    @include wrapper;
  }
}

@include tablet {
  .wrapper {
    @include wrapper;
    padding: $nav-tablet-height 30px 0 30px;
  }
}

@include phone {
  .wrapper {
    @include wrapper;
    padding: $nav-phone-height 5px 0 5px;
  }
}

