@import "../../viewports";

.wrapper {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 100%;
}

.content {
  text-align: center;
}

.home {
  width: 10em;
  padding: 1em 0;
  margin: 10px auto;
  border-width: 4px;
  border-radius: 50px;
}

.buttonText {
  font-size: 1.8em;
}

.buttonIcon {
  font-size: 1.5em;
}

.heading {
  font-size: 5em;
  color: #fff;
}

@include phone {
  .description {
    font-size: 1.5em;
    color: #d4d4d4;
  }
}

@include tablet {
  .description {
    font-size: 2.5em;
    color: #d4d4d4;
  }
}

@include desktop {
  .description {
    font-size: 2.5em;
    color: #d4d4d4;
  }
}
