@import "src/styles/sass/colours";

@mixin default {
  width: 100%;
  max-width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.2s;
}

.disabled {
  @include default;
  opacity: 0.6;
}

.button {
  @include default;
}

.text {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.2em;
  margin-top: 4px;
  margin-left: 3px;
  vertical-align: center;
}

.remaining {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.05em;
  margin-left: 4px;
  margin-top: 3px;
}

.icon {
  margin-right: 3px;
}

.hint {
  color: #000;
}
