@import "src/styles/sass/colours";

.submit {
  width: 100%;
}

.inputCol {
  padding-right: 5px;
}

.wrapper {
  max-width: 400px;
}

.timer {
  float: right;
  color: #FFF;
}

.tipCol {
  padding-left: 5px;
}

.lifeDisplayContainer {
  text-align: center;
}