$default-colour: #FFF;
$diagraph-margin: -12px;
$font-size: 10em;

@mixin kana {
  color: $default-colour;
  font-size: $font-size;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin diagraph {
  @include kana;
  display: inline;
}

@mixin flashRedAnimation {
  $notify-animation-time: 0.75s;
  font-size: $font-size;
  animation: flashRed ease $notify-animation-time;
  -webkit-animation: flashRed ease $notify-animation-time;
  -moz-animation: flashRed ease $notify-animation-time;
  animation-fill-mode: forwards;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
}

.blur {
  @include kana;
  color: transparent;
  text-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.kana {
  @include kana;
}

.diagraphLeft {
  @include diagraph;
  margin-right: $diagraph-margin;
}

.diagraphRight {
  @include diagraph;
  margin-left: $diagraph-margin;
}

.redKana {
  @include flashRedAnimation;
}

.redDiagraph {
  @include flashRedAnimation;
  display: inline;
}

@keyframes flashRed {
  0% {
    color: $default-colour;
  }
  50% {
    color: red;
  }
  100% {
    color: $default-colour;
  }
}