@import "../../mixins";

$default-colour: #FFF;
$diagraph-margin: -10px;

@mixin kana {
  color: $default-colour;
  @include noSelect;
}

@mixin diagraph {
  @include kana;
  display: inline;
}

@mixin flashRedAnimation {
  $notify-animation-time: 0.75s;
  animation: flashRed ease $notify-animation-time;
  -webkit-animation: flashRed ease $notify-animation-time;
  -moz-animation: flashRed ease $notify-animation-time;
  animation-fill-mode: forwards;
}

@mixin blur {
  color: transparent !important;
  text-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur {
  @include kana;
  @include blur;
}

.diagraphBlur {
  @include diagraph;
  @include blur;
}

.kana {
  @include kana;
}

.diagraphLeft {
  @include diagraph;
  margin-right: $diagraph-margin;
}

.diagraphRight {
  @include diagraph;
  margin-left: $diagraph-margin;
}

.redKana {
  @include flashRedAnimation;
}

.redDiagraph {
  @include flashRedAnimation;
  display: inline;
}

.index {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  color: #a5a5a5;
  float: left;
  font-size: 0.9em;
}

.clickable {
  cursor: pointer;
}

@keyframes flashRed {
  0% {
    color: $default-colour;
  }
  50% {
    color: red;
  }
  100% {
    color: $default-colour;
  }
}