@import "src/styles/sass/viewports";

@mixin tile {
  border-color: #2e6cde;
  border-width: 2px;
  border-radius: 10px;
  min-height: 150px;
  text-align: center;
}

.tile {
  @include tile;
}

.selected {
  @include tile;
}

.wrapper {
  max-width: 500px;
}

@include phone {
  .kana {
    font-size: 5em !important;
  }
}

@include tablet {
  .kana {
    font-size: 6em !important;
  }
}

@include desktop {
  .kana {
    font-size: 7em !important;
  }
}
