@import "src/styles/sass/viewports";

@include desktop {
  .input {
    height: 60px;
    font-size: 2em;
  }
}

@include tablet {
  .input {
    height: 60px;
    font-size: 2em;
  }
}

@include phone {
  .input {
    height: 50px;
    font-size: 1.6em;
  }
}