@import "src/styles/sass/viewports";

@include desktop {
  .input {
    height: 50px;
    font-size: 1.2em;
  }
}

@include tablet {
  .input {
    height: 50px;
    font-size: 1.2em;
  }
}

@include phone {
  .input {
    height: 40px;
    font-size: 1em;
  }
}

.inputCol {
  padding-right: 5px;
}

.tipCol {
  padding-left: 5px;
}