@import "src/styles/sass/colours";

.input {
  text-align: center;
  width: 100%;
  color: #FFF;
  border-color: $dark-1;
  border-width: 2px;
  border-radius: 6px;
  transition: ease-in-out 0.5s;
  font-family: "Ciutadella Rounded Medium", sans-serif;
}

.input:focus {
  outline: none;
  border-color: $light-3;
}

.input::placeholder {
  color: $light-1;
  opacity: 0.9;
  text-transform: uppercase;
}

/* Input placeholder focus colour change */
.input::-webkit-input-placeholder {
  color: #999;
}
.input:focus::-webkit-input-placeholder {
  color: $dark-1;
}

/* Firefox < 19 */
.input:-moz-placeholder {
  color: #999;
}
.input:focus:-moz-placeholder {
  color: $dark-1;
}

/* Firefox > 19 */
.input::-moz-placeholder {
  color: #999;
}
.input:focus::-moz-placeholder {
  color: $dark-1;
}

/* Internet Explorer 10 */
.input:-ms-input-placeholder {
  color: #999;
}
.input:focus:-ms-input-placeholder {
  color: $dark-1;
}