@import "src/styles/sass/colours";

.profile {
  color: #3a97ff !important;
}

.stats {
  color: #5dca41 !important;
}

.highscores {
  color: #eed242;
}

.logout {
  color: $bootstrap-red !important;
}

.button {
  margin-left: 10px;
}
