@import "src/styles/sass/mixins";
@import "src/styles/sass/animations";
@import "src/styles/sass/colours";

@mixin toggle {
  background-color: transparent !important;
  border: none;
  padding: 0;
}

.toggle {
  @include toggle;
  color: rgba(255,255,255,.5);
}

.disabled {
  @include toggle;
  color: rgba(255,255,255,.25);
}

.toggle:hover {
  color: #FFF;
}

.toggle:focus, .toggle:active, .dropdown:focus, .dropdown:active {
  @include noSelect;
  outline: 0;
  border: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

.dropdown, .dropdown:active {
  width: 160px;
  animation: fade 0.05s ease-in forwards;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.2em;
  background-color: $dark-2;
  border: 2px solid $dark-1;
  border-radius: 12px;
  padding: 0;
}

.dropdown a {
  padding: 12px 15px;
  color: $light-2;
  transition: all ease 0.25s;
}

.dropdown a:nth-child(n+1) {
  border-bottom: 2px solid $dark-1;
}

.dropdown a:last-child {
  border: none;
}

.dropdown a:hover {
  color: $light-1;
  background-color: $dark-1;
}

.dropdown::before {
  position: absolute;
  top: -8px;
  right: 32px;
  width: 12px;
  height: 12px;
  border: 2px solid $dark-1;
  border-bottom: 0;
  border-right: 0;
  background: $dark-2;
  transform: rotate(45deg);
  content: '';
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
