@import "src/styles/sass/mixins";
@import "src/styles/sass/colours";

$border-radius: 12px;

.modal {
  @include noSelect;
  color: $light-1;
  background-color: $dark-2;
  border: 4px solid $dark-1;
  border-radius: $border-radius;
}

.title {
  font-size: 1.2em;
}

.header button {
  font-size: 2em;
  color: $light-2 !important;
  opacity: 1;
  text-shadow: none;
  transition: all ease 0.2s;
}

.header button:hover {
  color: $light-1 !important;
  opacity: 1;
}

.header {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  border-bottom: 2px solid $dark-1;
  background-color: $dark-2;
  color: $light-1;
  padding: 15px;
  display: flex;
  align-items: center;
}

.body {
  font-family: "Ciutadella Rounded", sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
  padding: 20px;
}

.body button {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  text-transform: uppercase;
}

.body input::placeholder {
  text-align: left;
}

.icon {
  margin-right: 8px;
}

.footer {
  border-top: 2px solid $dark-1;
  padding: 8px 10px;
  font-family: "Ciutadella Rounded Medium", sans-serif;
}

.switch {
  align-self: flex-start;
}

.submit {
  float: right;
}

.row {
  width: 100%;
}

.loading {
  width: 100%;
}

.footerText {
  color: $light-2;
  transition: all ease 0.2s;
}

.footerText:hover {
  color: #2e6cde;
  cursor: pointer;
}

.list {
  padding-left: 15px;
}

.input {
  background-color: $dark-1;
  color: $light-1;
}

.input:focus {
  background-color: rgba($dark-1, 0.8);
  color: $light-1;
}
