@import "src/styles/sass/colours";

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.table th {
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  font-size: 1.1em;
  background-color: $dark-1;
  border-right: 2px solid $light-3;
  border-bottom: 2px solid $light-3 !important;
  border-top: 2px solid $light-3;
  color: $light-1;
  transition: color ease-in-out 0.2s;
}

.table th:first-child {
  border-left: 2px solid $light-3;
}

.table th:hover {
  color: #FFF;
}

.table th:first-of-type {
  border-top-left-radius: 10px;
}

.table th:last-of-type {
  border-top-right-radius: 10px;
}

.table tbody tr:first-child td:first-child {
  border-top-left-radius: 0;
}

.table tbody tr:first-child td:last-child {
  border-top-right-radius: 0;
}

.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0;
}

.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0;
}

.table tbody tr td:first-of-type {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.table tbody tr td:last-of-type {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.table tbody tr td, .table thead tr th {
  padding: 12px;
}

.table tbody tr {
  font-family: "Ciutadella Rounded", "Segoe UI", sans-serif;
  background-color: $light-2;
}
