@font-face {
  font-family: "Ciutadella Rounded";
  font-style: normal;
  font-weight: normal;
  src: local("Ciutadella Rounded"), url("/src/styles/fonts/ciutadella-rounded/Ciutadella Rounded.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Rounded Bold";
  src: local("Ciutadella Rounded Bold"),
    url("/src/styles/fonts/ciutadella-rounded/Ciutadella Rounded Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Rounded Bold Italic";
  src: local("Ciutadella Rounded Bold Italic"),
    url("/src/styles/fonts/ciutadella-rounded/Ciutadella Rounded Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Rounded Italic";
  src: local("Ciutadella Rounded Italic"),
    url("/src/styles/fonts/ciutadella-rounded/Ciutadella Rounded Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Rounded Light";
  src: local("Ciutadella Rounded Light"),
    url("/src/styles/fonts/ciutadella-rounded/Ciutadella Rounded Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Rounded Light Italic";
  src: local("Ciutadella Rounded Light Italic"),
    url("/src/styles/fonts/ciutadella-rounded/Ciutadella Rounded Light Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Rounded Medium";
  src: local("Ciutadella Rounded Medium"),
    url("/src/styles/fonts/ciutadella-rounded/Ciutadella Rounded Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Rounded Medium Italic";
  src: local("Ciutadella Rounded Medium Italic"),
    url("/src/styles/fonts/ciutadella-rounded/Ciutadella Rounded Medium Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Rounded Semi Bold";
  src: local("Ciutadella Rounded Semi Bold"),
    url("/src/styles/fonts/ciutadella-rounded/Ciutadella Rounded Semi Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Rounded Semi Bold Italic";
  src: local("Ciutadella Rounded Semi Bold Italic"),
    url("/src/styles/fonts/ciutadella-rounded/Ciutadella Rounded Semi Bold Italic.ttf") format("truetype");
}
