@import "src/styles/sass/colours";

.button {
  color: $dark-1;
  padding: 5px;
  transition: all ease-in-out 0.2s;
  position: relative;
}

.notSelected {
  background-color: rgba(215, 215, 215, 0.6);
  border-color: rgba(148, 148, 148, 0.8);
  color: $dark-2;
}

.notSelected:active, .notSelected:focus, {
  box-shadow: none;
  background-color: $light-1;
  color: $dark-3 !important;
}

.notSelected:hover {
  color: $dark-2;
  background-color: #b3b3b3;
  border: none;
}

.notSelected > svg {
  color: $dark-2 !important;
}

.selected:hover {
  color: $dark-2;
  background-color: $light-2;
}

.selected, .selected:focus, .selected:active, .button:active, .button:focus {
  background-color: $light-1 !important;
  border-color: rgba(148, 148, 148, 0.8) !important;
  color: $dark-3;
  box-shadow: none !important;
}

.inspectable {
  color: $dark-3;
}

.name {
  font-size: 1.1em;
  margin-bottom: 0;
  text-decoration: none;
  line-height: 18px;
}

.icon {
  transition: color ease-in-out 0.2s;
  font-size: 1.5em;
}

.edit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px;
  font-size: 1.5rem;
  color: $dark-1;
  transition: all ease-in-out 0.2s;
}

.edit:hover {
  cursor: pointer;
  z-index: 1000;
  color: $dark-2;
}
