@import "src/styles/sass/mixins";
@import "src/styles/sass/colours";

$border-radius: 12px;

.dialog {
  max-width: 350px;
}

.content {
  @include noSelect;
  color: $light-1;
  border-radius: $border-radius;
  background-color: $dark-2;
  border: 4px solid $dark-1;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  max-width: 500px;
}

.title {
  font-size: 1.2em;
}

.header button {
  font-size: 2em;
}

.header {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: $dark-2;
  border-bottom: 3px solid $dark-1;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.header > button {
  color: $light-1;
  opacity: 0.9;
  transition: color ease-in-out 0.2s;
  text-shadow: none;
}
.header > button:hover {
  color: $light-2;
}

.body {
  font-family: "Ciutadella Rounded", sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
  padding: 15px;
}

.footer {
  padding: 5px;
  border-top: 3px solid $dark-1;
}

.yes,
.no {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  border-radius: 8px;
}

.no {
  margin-left: 5px;
}
