@import "src/styles/sass/colours";
@import "src/styles/sass/mixins";

.tooltip {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.1em;
  padding: 2px;
}

.active {
  color: $inspect !important;
}

.paragraph {
  margin: 0;
  cursor: pointer;
  @include noSelect;
}
