@import "src/styles/sass/colours";

.inspectable {
  transition: ease 0.5s;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #585858;;
  text-decoration-style: dotted;
}

.inspectable:hover {
  color: $inspect;
  text-decoration: none;
  transition: ease 0.5s;
}
