@import "src/styles/sass/colours";

@mixin inspectable {
  text-decoration: underline;
  text-decoration-color: #585858;;
  text-decoration-style: dotted;
  transition: ease 0.5s;
  cursor: pointer;
}

.white:hover, .black:hover {
  color: $inspect;
  text-decoration: none;
  transition: ease 0.5s;
}

.white {
  @include inspectable;
}

.black {
  @include inspectable;
}