.button {
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  max-width: 325px;
  display: block;
  transition: ease-in-out 0.4s;
  opacity: 0.7;
}

.inactive {
  opacity: 0.4;
}

.active {
  opacity: 1;
  background-color: #218838;
  border-color: #1e7e34;
}

.text {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-left: 5px;
}

.icon {
  font-size: 1.2em;
}