@import "src/styles/sass/viewports";

@mixin description {
  color: #1f1f1f;
  opacity: 0.8;
  text-align: center;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.2em;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

@include phone {
  .desc {
    @include description;
    height: 75px;
    font-size: 1.1em;
    line-height: 1.1em;
  }
}

@include tablet {
  .desc {
    @include description;
    height: 90px;
  }
}

@include desktop {
  .desc {
    @include description;
    height: 100px;
  }
}