.button {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  text-transform: uppercase;
  background-color: #ab4040;
  border-color: transparent;
  width: 100%;
  min-width: 70px;
}

.button:hover {
  background-color: #9f3333;
  border-color: #9f3333;
}