@import "src/styles/sass/mixins";
@import "src/styles/sass/colours";

.title {
  @include noSelect;
  font-family: "Ciutadella Rounded Medium", "Segoe UI", sans-serif;
  color: $light-1;
  margin-bottom: 3px;
}
