@mixin button {
  font-family: "Ciutadella Rounded Medium", sans-serif;
  text-transform: uppercase;
  background-color: #ab4040;
  border-color: transparent;
  width: 100%;
  min-width: 80px;
  transition: ease-in-out 0.2s;
  white-space: nowrap;
}

.button,
.disabled {
  @include button;
}

.button:hover {
  background-color: #9f3333;
  border-color: #9f3333;
}
