@mixin reflection($background-colour, $text-colour) {
  background-color: $background-colour;
  color: $text-colour;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -20%;
    right: -200%;
    width: 75%;
    height: 250%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
    animation: shine 3s 1s infinite;
  }

  @keyframes shine {
    to {
      opacity: 1;
      right: 210%;
    }
  }
}
