@import "src/styles/sass/colours";

.table {
  max-width: 1000px;
  color: $light-2;

  * {
    background-color: $dark-2 !important;
  }
}

.jp,
.en {
  margin-bottom: 0;
  color: #fff;
}

.romaji {
  font-family: "Ciutadella Rounded Light", sans-serif;
}
