@import "src/styles/sass/colours";

.check {
  float: right;
}

.icon {
  transition: color ease-in-out 0.2s;
}

.icon:hover, .highlight {
  color: #2e6cde !important;
}

.font {
  font-size: 1.1em;
}

.fontContainer:first-child {
  border-radius: 0 !important;
}

.selected {
  color: $bootstrap-green !important;
}

.inactive {
  color: $bootstrap-red !important;
}

.menu {
  width: 100%;
  max-width: 300px;
  animation: fade 0.15s ease-in forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
