@import "src/styles/sass/viewports";

@mixin text {
  text-transform: uppercase;
  margin-left: 5px;
}

@include phone {
  .text {
    @include text;
    font-size: 1em;
    font-family: "Ciutadella Rounded Bold", sans-serif;
  }

  .icon {
    font-size: 1em;
  }
}

@include tablet {
  .text {
    @include text;
    font-size: 1.2em;
    font-family: "Ciutadella Rounded Medium", sans-serif;
  }

  .icon {
    font-size: 1.1em;
  }
}

@include desktop {
  .text {
    @include text;
    font-size: 1.5em;
    font-family: "Ciutadella Rounded Medium", sans-serif;
  }

  .icon {
    font-size: 1.2em;
  }
}

.inactive {
  opacity: 0.5;
}

.activeRemembered {
  opacity: 1;
  background-color: #218838;
  border-color: #1e7e34;
}

.activeForgotten {
  opacity: 1;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.button {
  border-radius: 8px;
  width: 100%;
  max-width: 325px;
  display: block;
  transition: ease-in-out 0.4s;
  padding: 10px;
}
