@import "src/styles/sass/colours";
@import "src/styles/sass/mixins";

.notification {
  width: 100%;
}

.notificationWrapper .notification:not(:last-child) {
  border-bottom: 2px solid $dark-1;
}

.notificationWrapper .notification:last-child div:last-child {
  border-bottom-right-radius: 6px;
}

.button {
  color: #FFF;
}

.popover > div::after {
  border-top-color: $dark-1 !important;
  border-bottom-color: $dark-1 !important;
}

.popover {
  animation: fade 0.05s ease-in forwards;
  font-family: "Ciutadella Rounded Medium", sans-serif;
  font-size: 1.1em;
  background-color: $dark-2;
  border: 2px solid $dark-1;
  border-radius: 12px;
}

.content {
  padding: 0;
}

.emptyText {
  margin: 0;
  color: $light-2;
}

.emptyIcon {
  margin-bottom: -4px;
  color: $bootstrap-green;
}

.emptyWrapper {
  margin: 15px;
  text-align: center;
}

.highlight {
  color: #d2b33b;
}

.icon {
  transition: color ease-in-out 0.2s;
}

.icon:hover {
  color: #d2b33b;
}

.iconWrapper {
  position: relative;
}

$circle-size: 12px;

.circle {
  position: absolute;
  width: $circle-size;
  height: $circle-size;
  border-radius: $circle-size;
  top: 5px;
  right: 5px;
  background-color: #369cd5;
  z-index: 100;
  box-shadow: 0 0 2px #000;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $dark-1;
  height: 35px;
  padding: 0 10px;
}

.title {
  @include noSelect;
  color: #369cd5;
}

.clear {
  @include noSelect;
  margin-left: auto;
  color: $light-2;
  transition: color ease-in-out 0.2s;
}

.clear:hover {
  cursor: pointer;
  color: $light-1;
}

.link {
  padding: 0 !important;
}
