.options {

}

.list > p {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 0;
}

.list {
  margin-bottom: 5px;
  text-align: left;
  padding: 5px 10px;
}

.item {
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
